In [15]:
import selenium 
from bs4 import BeautifulSoup
import requests
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotVisibleException,ElementClickInterceptedException,ElementNotInteractableException
from selenium.webdriver.common.by import By
import time 

import re
from selenium import webdriver

# Question - 1

In [16]:
import requests
from bs4 import BeautifulSoup

url = "https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos"

# Send a GET request
response = requests.get(url)

# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, "html.parser")

# Find the table containing the most viewed videos
table = soup.find("table", class_="wikitable sortable")

# Iterate over each row in the table
for row in table.find_all("tr")[1:]:
    # Extract the required details from each cell in the row
    cells = row.find_all("td")
    rank = cells[0].text.strip()
    name = cells[1].text.strip()
    artist = cells[2].text.strip()
    upload_date = cells[4].text.strip()
    views = cells[3].text.strip()

    # Print the details
    print("Rank:", rank)
    print("Name:", name)
    print("Artist:", artist)
    print("Upload Date:", upload_date)
    print("Views:", views)
    print("----------------------------------")

Rank: 1.
Name: "Baby Shark Dance"[4]
Artist: Pinkfong Baby Shark - Kids' Songs & Stories
Upload Date: June 17, 2016
Views: 12.85
----------------------------------
Rank: 2.
Name: "Despacito"[7]
Artist: Luis Fonsi
Upload Date: January 12, 2017
Views: 8.16
----------------------------------
Rank: 3.
Name: "Johny Johny Yes Papa"[14]
Artist: LooLoo Kids
Upload Date: October 8, 2016
Views: 6.70
----------------------------------
Rank: 4.
Name: "Bath Song"[15]
Artist: Cocomelon – Nursery Rhymes
Upload Date: May 2, 2018
Views: 6.20
----------------------------------
Rank: 5.
Name: "Shape of You"[16]
Artist: Ed Sheeran
Upload Date: January 30, 2017
Views: 6.00
----------------------------------
Rank: 6.
Name: "See You Again"[19]
Artist: Wiz Khalifa
Upload Date: April 6, 2015
Views: 5.89
----------------------------------
Rank: 7.
Name: "Phonics Song with Two Words"[24]
Artist: ChuChu TV
Upload Date: March 6, 2014
Views: 5.30
----------------------------------
Rank: 8.
Name: "Wheels on the Bus"[25]
Artist: Cocomelon – Nursery Rhymes
Upload Date: May 24, 2018
Views: 5.24
----------------------------------
Rank: 9.
Name: "Uptown Funk"[26]
Artist: Mark Ronson
Upload Date: November 19, 2014
Views: 4.92
----------------------------------
Rank: 10.
Name: "Learning Colors – Colorful Eggs on a Farm"[27]
Artist: Miroshka TV
Upload Date: February 27, 2018
Views: 4.89
----------------------------------
Rank: 11.
Name: "Gangnam Style"[28]
Artist: Psy
Upload Date: July 15, 2012
Views: 4.80
----------------------------------
Rank: 12.
Name: "Masha and the Bear – Recipe for Disaster"[33]
Artist: Get Movies
Upload Date: January 31, 2012
Views: 4.55
----------------------------------
Rank: 13.
Name: "Dame Tu Cosita"[34]
Artist: El Chombo
Upload Date: April 5, 2018
Views: 4.35
----------------------------------
Rank: 14.
Name: "Axel F"[35]
Artist: Crazy Frog
Upload Date: June 16, 2009
Views: 3.91
----------------------------------
Rank: 15.
Name: "Sugar"[36]
Artist: Maroon 5
Upload Date: January 14, 2015
Views: 3.87
----------------------------------
Rank: 16.
Name: "Roar"[37]
Artist: Katy Perry
Upload Date: September 5, 2013
Views: 3.80
----------------------------------
Rank: 17.
Name: "Counting Stars"[38]
Artist: OneRepublic
Upload Date: May 31, 2013
Views: 3.79
----------------------------------
Rank: 18.
Name: "Sorry"[39]
Artist: Justin Bieber
Upload Date: October 22, 2015
Views: 3.66
----------------------------------
Rank: 19.
Name: "Baa Baa Black Sheep"[40]
Artist: Cocomelon – Nursery Rhymes
Upload Date: June 25, 2018
Views: 3.64
----------------------------------
Rank: 20.
Name: "Thinking Out Loud"[41]
Artist: Ed Sheeran
Upload Date: October 7, 2014
Views: 3.60
----------------------------------
Rank: 21.
Name: "Waka Waka (This Time for Africa)"[42]
Artist: Shakira
Upload Date: June 4, 2010
Views: 3.59
----------------------------------
Rank: 22.
Name: "Dark Horse"[43]
Artist: Katy Perry
Upload Date: February 20, 2014
Views: 3.52
----------------------------------
Rank: 23.
Name: "Lakdi Ki Kathi"[44]
Artist: Jingle Toons
Upload Date: June 14, 2018
Views: 3.48
----------------------------------
Rank: 24.
Name: "Faded"[45]
Artist: Alan Walker
Upload Date: December 3, 2015
Views: 3.45
----------------------------------
Rank: 25.
Name: "Perfect"[46]
Artist: Ed Sheeran
Upload Date: November 9, 2017
Views: 3.45
----------------------------------
Rank: 26.
Name: "Let Her Go"[47]
Artist: Passenger
Upload Date: July 25, 2012
Views: 3.44
----------------------------------
Rank: 27.
Name: "Girls Like You"[48]
Artist: Maroon 5
Upload Date: May 31, 2018
Views: 3.42
----------------------------------
Rank: 28.
Name: "Humpty the train on a fruits ride"[49]
Artist: Kiddiestv Hindi – Nursery Rhymes & Kids Songs
Upload Date: January 26, 2018
Views: 3.41
----------------------------------
Rank: 29.
Name: "Lean On"[50]
Artist: Major Lazer
Upload Date: March 22, 2015
Views: 3.38
----------------------------------
Rank: 30.
Name: "Bailando"[51]
Artist: Enrique Iglesias
Upload Date: April 11, 2014
Views: 3.38
----------------------------------

IndexError: list index out of range

#  Question - 2

In [ ]:
url = 'https://www.bcci.tv'
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get(url)

match_title=[]
series=[]
place=[]
date=[]
m_time=[]



#Click on INTERNATIONAL navigation
driver.find_element(By.XPATH,"//a[normalize-space()='INTERNATIONAL']").click()


for _ in range(1):
    driver.execute_script("window.scrollBy(0,1000)")

    try:
        driver.find_element(By.XPATH,'/html[1]/body[1]/div[2]/div[2]/div[1]/div[1]/div[1]/div[2]/div[3]/div[2]/div[1]/button[1]').click()
    except NoSuchElementException:
        print("NoSuchElementException ")
    
title_tag=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
try:
    for i in title_tag:
        match_title.append(i.text)
except NoSuchElementException:
    match_title.append("-")
match_title


series_tag=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
try:
    for i in series_tag:
        s_tag=i.text.split('-')
        series.append(s_tag[0])
except NoSuchElementException:
    series.append("-")
    

place_tag=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
try:
    for i in place_tag:
        p_tag=i.text.split('-')
        place.append(p_tag[1])
except NoSuchElementException:
    place.append("-")
    


date_tag=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
try:
    for i in date_tag:
        date.append(i.text)
except NoSuchElementException:
    date.append("-")
    

time_tag=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
try:
    for i in time_tag:
        m_time.append(i.text)
except NoSuchElementException:
    m_time.append("-")

#  Question - 3

In [ ]:
url='https://www.statisticstimes.com'
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get(url)

time.sleep(3)
economy = driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/button")
try:
    economy.click()
    driver.find_element(By.XPATH,'/html[1]/body[1]/div[2]/div[1]/div[2]/div[2]/div[1]/a[3]').click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))
    
time.sleep(3)
try:
    ads=driver.find_element(By.XPATH,'//div[@class="ns-dbyfr-e-19 button-common close-button"]')
    ads.click()
    gdp = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()
except NoSuchElementException:
    driver.get('https://www.statisticstimes.com/economy/india/indian-states-gdp.php')
    
time.sleep(3)


rank=[]
state=[]
GSDP_19_20=[]
GSDP_18_19=[]
share_18_19=[]
GDP_billion=[]


state_rank=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[1]')
try:
    for i in state_rank:
        rank.append(i.text)
except NoSuchElementException:
    rank.append("-")
    
state_name=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]')
try:
    for i in state_name:
        state.append(i.text)
except NoSuchElementException:
    state.append("-")
        
GSDP_19_20_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')
try:
    for i in GSDP_19_20_tag:
        GSDP_19_20.append(i.text)
except NoSuchElementException:
    GSDP_19_20.append("-")
    
GSDP_18_19_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')
try:
    for i in GSDP_18_19_tag:
        GSDP_18_19.append(i.text)
except NoSuchElementException:
    GSDP_18_19.append("-")
    
share_18_19_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
try:
    for i in share_18_19_tag:
        share_18_19.append(i.text)
except NoSuchElementException:
    share_18_19.append("-")
    
GDP_billion_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')
try:
    for i in GDP_billion_tag:
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("-")
    
    
driver.close()

df=pd.DataFrame({'Rank':rank,'State':state,'GSDP 19-20':GSDP_19_20,'GSDP 18-19':GSDP_18_19,'Share 18-19':share_18_19,'GDP billion':GDP_billion})
df

# Question - 4

In [ ]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url="https://github.com/"
driver.get(url)


# Clicking on explore sub menu
explore = driver.find_element(By.XPATH,'/html/body/div[1]/div[1]/header/div/div[2]/div/nav/ul/li[3]/div/div[3]/ul/li[2]/a')
try:
    explore.click()
    time.sleep(5)
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

    
# Clicking on Trending under explore sub menu
trending = driver.find_element(By.XPATH,'//*[@href="/trending"]')
try:
    driver.get(trending.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))
    
Repository_title= []
Repository_description= []
Contributors_count= []
Language_used= []
urls=[]

#Scraping title of repository
try:
    Repository_title_tag=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/h1/a')
    for i in Repository_title_tag:
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append('-')
    
#Scraping description of Repository
try:
    description=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
    for i in description:
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append('-')

for i in [Repository_title_tag,description]:
    for j in i:
        if i ==Repository_title_tag:
            Repository_title.append(j.text)
            urls.append(j.get_attribute('href'))
        if i==description:
            Repository_description.append(j.text)
    
for url in urls:
    driver.get(url)
    driver.implicitly_wait(3)
    div_list=driver.find_elements(By.XPATH,'//div[@class="BorderGrid BorderGrid--spacious"]/div')
    #Scraping count of contributors   
    try:
        Contributors_count.append(((div_list[-2].text).split())[1])
    except:
        Contributors_count.append('-')
    #Scraping used language
    try:
        Language_used.append(((div_list[-1].text).split())[1::2])
    except:
        Language_used.append('-')
        
driver.close()


#creating Dataframe
df=pd.DataFrame({"Repository_title":Repository_title[:25],"Repository_description":Repository_description[:25],"Language_used":Language_used[:25],"Contributors_count":Contributors_count[:25]})
df

# Question - 5

In [ ]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url='https://www.billboard.com'
driver.get(url)
time.sleep(2)

nav=driver.find_element(By.XPATH,"/html/body/div[3]/header/div[1]/div/div/div[1]/button")
nav.click()

time.sleep(5)

#Hot 100 songs
hot_100=driver.find_element(By.XPATH,'/html[1]/body[1]/div[3]/div[6]/div[1]/div[1]/div[1]/ul[1]/li[1]/ul[1]/li[2]/a[1]')
hot_100.click()

Name=[]
Artist=[]
rank=[]

#Scraping name
Name_tag=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']")
for i in Name_tag:
    Name.append(i.text)

#Scraping artist
Artist_tag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
for i in Artist_tag:
    Artist.append(i.text)

#Scraping rank
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
for i in rankTag[:3]:
    rank.append(i.text )
    
#Scraping name
Rank=[]
nameTag=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
for i in nameTag:
    Name.append(i.text )

#Scraping artist
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in artistTag:
    Artist.append(i.text )

#Scraping rank
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in RankTag:
    Rank.append(i.text)
    
    
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)
        
# slicing Data
last_week_rank=Rank[0::3]
last_week_rank.insert(0,rank[0])
peak_rank=Rank[1::3]
peak_rank.insert(0,rank[1])
weeks_on_board=Rank[2::3]
weeks_on_board.insert(0,rank[2])

driver.close()
# Create Dataframe
df=pd.DataFrame({"Name":Name[:100],"Artist":Artist[:100],"Last Week Rank":last_week_rank[0:100],"Peak Rank":peak_rank[0:100],"Weeks On Board":weeks_on_board[0:100]})
df

# Question - 6

In [17]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]

b_name=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[2]')
try:
    for i in b_name:
        book_name.append(i.text)
except:
    book_name.append("-")
    
a_name=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[3]')
try:
    for i in a_name:
        author_name.append(i.text)
except:
    author_name.append("-")
    
v_sold=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[4]')
try:
    for i in v_sold:
        volumes_sold.append(i.text)
except:
    volumes_sold.append("-")
    
b_publisher=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[5]')
try:
    for i in b_publisher:
        publisher.append(i.text)
except:
    publisher.append("-")
    
b_genre=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[6]')
try:
    for i in b_genre:
        genre.append(i.text)
except:
    genre.append("-")
    
driver.close()
df=pd.DataFrame({'Book Name':book_name,'Author Name':author_name,'Volumes sold':volumes_sold,'Publisher':publisher,'Genre':genre})
df

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question - 7

In [18]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url='https://www.imdb.com/list/ls095964455'
driver.get(url)

name=[]
year=[]
genre=[]
run_time=[]
ratings=[]
votes=[]

s_name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
try:
    for i in s_name:
        name.append(i.text)
except:
    name.append("--") 
    
s_year=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
try:
    for i in s_year:
        year.append(i.text)
except:
    year.append("--")   

s_genre=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
try:
    for i in s_genre:
        genre.append(i.text)
except:
    genre.append("--")
    
r_time=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
try:
    for i in r_time:
        run_time.append(i.text)
except:
    run_time.append("--")   

rating=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
try:
    for i in rating:
        ratings.append(i.text)
except:
    ratings.append("--")
    
vote=driver.find_elements(By.XPATH,'//span[@name="nv"]')
try:
    for i in vote:
        votes.append(i.text)
except:
    votes.append("--")
    
driver.close()
df=pd.DataFrame({'Name':name,'Year Span':year,'Genre':genre,'Run Time':run_time,'Ratings':ratings,'Votes':votes})
df

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,163,202"
1,Stranger Things,(2016–2024),"Drama, Fantasy, Horror",51 min,8.7,"1,243,088"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"1,027,639"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"302,290"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"261,401"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"51,691"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"63,732"
97,Criminal Minds,(2005– ),"Crime, Drama, Mystery",42 min,8.1,"207,725"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7,"43,226"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"258,348"

# Question - 8

In [19]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url='https://archive.ics.uci.edu/ml/index.php'
driver.get(url)

#clicking on view all Dataset
Dataset= driver.find_elements(By.XPATH,"//span[@class='normal']/b/a")[0].get_attribute('href')
driver.get(Dataset)

# Scraping dataset
data=[]
try:
    data_tag=driver.find_elements(By.XPATH,"//td//p[@class='normal']")
    for i in data_tag[8:4362]:
        data.append(i.text )
except:
    data.append('-')
    
#slicing dataset
Dataset_name=data[::7]
Data_type=data[1::7]
Task=data[2::7]
Attribute_type=data[3::7]
instances=data[4::7]
attribute=data[5::7]
Year=data[6::7]

driver.close()
#creating Dataframe
df= pd.DataFrame({"Dataset name":Dataset_name,"Data type":Data_type,"Task":Task,"Attribute type":Attribute_type,"Instances":instances,"Attribute":attribute,"Year":Year})
df

,Dataset name,Data type,Task,Attribute type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021

# Question - 9

In [22]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url='https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)

designation_text='Data science'
designation_search=driver.find_element(By.XPATH,'//input[@class="sugInp"]')
designation_search.send_keys(designation_text)

search=driver.find_element(By.XPATH,'//button[@id="qsbFormBtn"]')
search.click()

name=[]
designation=[]
company=[]
skills=[]
location=[]


r_name=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
try:
    for i in r_name:
        name.append(i.text)
except:
    name.append("-")
    
r_designation=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
try:
    for i in r_designation:
        designation.append(i.text)
except:
    designation.append("-")
    
r_company=driver.find_elements(By.XPATH,"//a[@class='ellipsis']")[1::2]
try:
    for i in r_company:
        company.append(i.text)
except:
    company.append("-")


r_skills=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
try:
    for i in r_skills:
        skills.append(i.text)
except:
    skills.append("-")
    
r_location=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
try:
    for i in r_location:
        if i.text == None:
            location.append("--")
        else:
            location.append(i.text)
except:
    location.append("--") 
    
driver.close()
#creating Dataframe
df=pd.DataFrame({"Name":name[:20],"Designation":designation[:20],"Company":company[:20],"Skills":skills[:20],"Location":location[:20]})
df

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
11,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
12,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
13,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
14,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai