In [1]:
# importing the required modules

In [40]:
import selenium
import  pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time
from selenium import webdriver

In [41]:
'''Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10
jobs data.'''

'Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You\nhave to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10\njobs data.'

In [42]:
driver = selenium.webdriver.Chrome(r"C:\Users\soumy\Downloads\chromedriver_win32\chromedriver.exe")

In [43]:
#now getting the webpage
driver.get("https://www.naukri.com/")

In [44]:
#find location and designation
designation = driver.find_element(By.CLASS_NAME, "suggestor-input")                            
designation.send_keys('Data Analyst')
location = driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input") 
location.send_keys('Bangalore')

In [45]:
#click the search element
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [29]:
#scraping the data for the first 10 jobs results 

job_title = []
title_tag = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tag[0:10]:
    title = i.text
    job_title.append(title)

In [30]:
df = pd.DataFrame({ 'job_results': job_title})
df.head()

                        job_results
0                      Data Analyst
1                      Data Analyst
2  Data Analyst - IIT/BITS/Startups
3            Data Analyst - FinTech
4            Data Analyst - FinTech

In [31]:
'''Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You
have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:'''

'Q2:Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You\nhave to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.\nThis task will be done in following steps:'

In [32]:
import selenium
import  pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By
import time
from selenium import webdriver

In [33]:
driver = selenium.webdriver.Chrome(r"C:\Users\soumy\Downloads\chromedriver_win32\chromedriver.exe")

In [34]:
driver.get("https://www.naukri.com/")

In [35]:
#finding location and designation
designation = driver.find_element(By.CLASS_NAME, "suggestor-input")                            
designation.send_keys('Data Scientist')
location = driver.find_element(By.XPATH, "/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input") 
location.send_keys('Bangalore')

In [36]:
#click the search element
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [37]:
# scraping the job-title, job-location, company_name
job_title = []
company_name = []
job_location = []

title_tag = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tag[0:10]:
    title = i.text
    job_title.append(title)
    
    
company_tag = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:
    company = i.text
    company_name.append(company)
    
    
location_tag = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location_tag[0:10]:
    location = i.text
    job_location.append(location)

In [38]:
print(len(job_title),len(company_name),len(job_location))

10 10 10

In [39]:
df=pd.DataFrame({'title':job_title , 'location':job_location, 'company_name':company_name })
df

,title,location,company_name
0,Data Science Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Data Scientist_NLP,"Bangalore/Bengaluru, Mumbai, Pune, Chennai, Gu...",Fractal Analytics
2,Machine Learning (AI) Architect,"Bangalore/Bengaluru, Kolkata, Mumbai, New Delh...",Persistent
3,Data Science Analyst,Bangalore/Bengaluru,Accenture
4,Data Scientist,Bangalore/Bengaluru,IBM
5,Data Scientist- Bangalore,Bangalore/Bengaluru,Trigent Software
6,Data Science Analyst - Data Science,Bangalore/Bengaluru,Accenture
7,Data Science Analyst Data Science,Bangalore/Bengaluru,Accenture
8,Analytics Specialist - Artificial Intelligence...,Bangalore/Bengaluru,Accenture
9,Senior Data Scientist,Bangalore/Bengaluru,Walmart

In [47]:
#Question number - 3
'''You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required'''

'You have to scrape data for “Data Scientist” designation for first 10 job results.\nYou have to scrape the job-title, job-location, company name, experience required'

In [64]:
import selenium 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from selenium import webdriver

import time

In [65]:
driver = selenium.webdriver.Chrome(r"C:\Users\soumy\Downloads\chromedriver_win32\chromedriver.exe")

In [66]:
driver.get("https://www.naukri.com/")

In [67]:
#find location and designation
designation = driver.find_element(By.CLASS_NAME, "suggestor-input")                            
designation.send_keys('Data Scientist')

In [68]:
search = driver.find_element(By.CLASS_NAME, "qsbSubmit")
search.click()

In [69]:
#now by applying filters

In [70]:
job_title = []
company_name = []
job_location = []
work_experience = []

In [71]:
title_tag = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tag[0:10]:
    title = i.text
    job_title.append(title)

In [72]:
title_tag = driver.find_elements(By.XPATH, '//a[@class="title ellipsis"]')
for i in title_tag[0:10]:
    title = i.text
    job_title.append(title)

In [73]:
location_tag = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft locWdth"]')
for i in location_tag:
    location = i.text
    job_location.append(location)
    
print(job_location[:10])

['Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru', 'Gurgaon/Gurugram, Bangalore/Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru', 'Gurgaon/Gurugram, United States (USA), Bulgaria', 'Gurgaon/Gurugram', 'Noida', 'Gurgaon/Gurugram', 'Gurgaon/Gurugram', 'Noida', 'Gurgaon/Gurugram']

In [74]:
company_tag = driver.find_elements(By.XPATH, '//a[@class="subTitle ellipsis fleft"]')
for i in company_tag[0:10]:

    company = i.text
    company_name.append(company)

In [75]:
experience = driver.find_elements(By.XPATH, '//span[@class="ellipsis fleft expwdth"]')
for i in experience[0:10]:
    work_experience.append(i.text)
    
print(work_experience)

['0-2 Yrs', '3-7 Yrs', '2-4 Yrs', '1-6 Yrs', '3-7 Yrs', '1-2 Yrs', '0-2 Yrs', '3-6 Yrs', '2-7 Yrs', '5-7 Yrs']

In [76]:
import re

In [77]:
text = "['Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru', 'Gurgaon/Gurugram, Bangalore/Bengaluru', 'Kolkata, Mumbai, New Delhi, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru', 'Gurgaon/Gurugram, United States (USA), Bulgaria', 'Gurgaon/Gurugram', 'Noida', 'Gurgaon/Gurugram', 'Gurgaon/Gurugram', 'Noida', 'Gurgaon/Gurugram', '0-2 Yrs', '3-7 Yrs', '2-4 Yrs', '1-6 Yrs', '3-7 Yrs', '1-2 Yrs', '0-2 Yrs', '3-6 Yrs', '2-7 Yrs', '5-7 Yrs', '0-2 Yrs', '3-7 Yrs', '2-4 Yrs', '1-6 Yrs', '3-7 Yrs', '1-2 Yrs', '0-2 Yrs', '3-6 Yrs', '2-7 Yrs', '5-7 Yrs']"
patten = "\d-\d Yrs"
work_experience = re.findall(patten, text)

In [78]:
print(len(job_title[:10]),len(company_name[:10]),len(job_location[:10]),len(work_experience [:10]))

10 10 10 10

In [79]:
df = pd.DataFrame({'job_title':job_title[:10], 'location':job_location[:10],'company_name':company_name[:10],'experience':work_experience[:10]})
df

,job_title,location,company_name,experience
0,Junior Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,0-2 Yrs
1,Data Scientist,"Gurgaon/Gurugram, Bangalore/Bengaluru",Blackbuck,3-7 Yrs
2,Data Scientist,"Kolkata, Mumbai, New Delhi, Hyderabad/Secunder...",Analytos,2-4 Yrs
3,Junior Data Scientist,"Gurgaon/Gurugram, United States (USA), Bulgaria",Adidas,1-6 Yrs
4,Data Scientist - II (Contract),Gurgaon/Gurugram,Netomi,3-7 Yrs
5,Data Scientist,Noida,Gujarat Fluorochemicals,1-2 Yrs
6,Research Scientist - Bioinformatics,Gurgaon/Gurugram,Biopeople India,0-2 Yrs
7,Data Scientist - I,Gurgaon/Gurugram,Netomi,3-6 Yrs
8,Machine Learning Engineer,Noida,Profit By Outsourcing,2-7 Yrs
9,Assistant Manager - Data Scientist,Gurgaon/Gurugram,Fidelity International,5-7 Yrs

In [80]:
#Question - 4
'''Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. ProductDescription
3. Price'''

'Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:\n1. Brand\n2. ProductDescription\n3. Price'

In [81]:
import selenium 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from selenium import webdriver

import time

In [82]:
driver = selenium.webdriver.Chrome(r"C:\Users\soumy\Downloads\chromedriver_win32\chromedriver.exe")

In [83]:
#now providing the required link to scrape
driver.get("https://www.flipkart.com/")

In [92]:
product = driver.find_element(By.CLASS_NAME,"_3704LK" )
product.send_keys('sunglasses')

In [85]:
search = driver.find_element(By.XPATH, '//button[@class="L0Z3Pu"]')
search.click()

In [86]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [87]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH, "//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH, "//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH, "//div[@class='_25b18c']")
    discount=driver.find_elements(By.XPATH, "//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [88]:
B_name[:100]

['VINCENT CHASE',
 'VINCENT CHASE',
 'PIRASO',
 'TamTam',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'NuVew',
 'Fastrack',
 'VINCENT CHASE',
 'PIRASO',
 'NuVew',
 'Fastrack',
 'VINCENT CHASE',
 'METRONAUT',
 'PIRASO',
 'Shaah Collection',
 'VINCENT CHASE',
 'Fastrack',
 'NuVew',
 'PIRASO',
 'VINCENT CHASE',
 'NuVew',
 'SUNBEE',
 'Fastrack',
 'VINCENT CHASE',
 'LIZA ANGEL',
 'NuVew',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'PIRASO',
 'TamTam',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'NuVew',
 'Fastrack',
 'VINCENT CHASE',
 'PIRASO',
 'NuVew',
 'Fastrack',
 'VINCENT CHASE',
 'METRONAUT',
 'PIRASO',
 'Shaah Collection',
 'VINCENT CHASE',
 'Fastrack',
 'NuVew',
 'PIRASO',
 'VINCENT CHASE',
 'NuVew',
 'SUNBEE',
 'Fastrack',
 'VINCENT CHASE',
 'LIZA ANGEL',
 'NuVew',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'PIRASO',
 'Fastrack',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'PIRASO',
 'TamTam',
 'PIRASO',
 'PIRASO',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'Fastrack',
 'Fastrack',
 'VINCENT CHASE',
 'Fastrack',
 'NuVew',
 'Fastrack',
 'VINCENT CHASE',
 'PIRASO',
 'NuVew',
 'Fastrack',
 'VINCENT CHASE']

In [89]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [90]:

df=pd.DataFrame({})
df['Brand_name']=B_name[:100]
df['P_price']=Price[:100]
df['Pr_desc']=P_desc[:100]
df['P_discount']=Discount[:100]

In [91]:
df.head()

,Brand_name,P_price,Pr_desc,P_discount
0,VINCENT CHASE,"₹849₹1,99957% off","by Lenskart Polarized, UV Protection Retro Squ...",57% off
1,VINCENT CHASE,"₹965₹1,99951% off","Polarized, UV Protection Round Sunglasses (51)",51% off
2,PIRASO,"₹224₹1,59985% off",UV Protection Clubmaster Sunglasses (54),85% off
3,TamTam,₹181₹99981% off,UV Protection Retro Square Sunglasses (Free Size),81% off
4,PIRASO,"₹268₹1,59983% off",UV Protection Aviator Sunglasses (Free Size),83% off

In [93]:
#Question - 5
'''1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100reviews
'''

'1. Rating\n2. Review summary\n3. Full review\n4. You have to scrape this data for first 100reviews\n'

In [182]:
import selenium 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from selenium import webdriver

import time

In [183]:
driver = selenium.webdriver.Chrome(r"C:\Users\soumy\Downloads\chromedriver_win32\chromedriver.exe")

In [184]:
#now providing the required link to scrape
driver.get("https://www.flipkart.com/apple-iphone-11-black-64-gb/p/itm4e5041ba101fd?pid=MOBFWQ6BXGJCEYNY&lid=LSTMOBFWQ6BXGJCEYNYZXSHRJ&marketplace=FLIPKART&q=iphone+11&store=tyy%2F4io&srno=s_1_4&otracker=AS_Query_OrganicAutoSuggest_4_2_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_4_2_na_na_na&fm=organic&iid=c95c6fcf-7cef-484f-9048-7be3eb853a40.MOBFWQ6BXGJCEYNY.SEARCH&ppt=hp&ppn=homepage&ssid=r4y48ftv7k0000001683571768851&qH=f6cdfdaa9f3c23f3")

In [185]:
Rating =[]
Review_summary = []
Full_review  =[]

In [190]:

rating=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
for j  in rating:
    Rating.append(j.text)
Rating[:100] 



review_summary=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
for k in review_summary:
    Review_summary.append(k.text)
Review_summary[:100]


full_review =driver.find_elements(By.XPATH,'//span[@class="_1H-bmy"]')
for l in full_review:
    Full_review.append(l.text)
Full_review[:100]

In [191]:
#Question - 6
'''Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the
search field.
You have to scrape 3 attributes of each sneaker:
1. Brand
2. ProductDescription
3. Price
As shown in the below image, you have to scrape the above attributes'''

'Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the\nsearch field.\nYou have to scrape 3 attributes of each sneaker:\n1. Brand\n2. ProductDescription\n3. Price\nAs shown in the below image, you have to scrape the above attributes'

In [192]:
import selenium 
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from selenium import webdriver

import time

In [193]:
driver = selenium.webdriver.Chrome(r"C:\Users\soumy\Downloads\chromedriver_win32\chromedriver.exe")

In [194]:
url="https://www.flipkart.com/"
driver.get(url)

In [195]:
search= driver.find_element(By.XPATH, "//input[@type='text']")
search
# write on search bar
search.send_keys('sneakers')

In [196]:
search_btn=driver.find_element(By.XPATH, "//button[@class='L0Z3Pu']")
search_btn.click()

In [ ]:
B_name=[]
Price=[]
P_desc=[]
Discount=[]

In [197]:
for i in range(3):
    b_name=driver.find_elements(By.XPATH,"//div[@class='_2WkVRV']")
    p_desc=driver.find_elements(By.XPATH,"//a[@class='IRpwTa']")
    price =driver.find_elements(By.XPATH,"//div[@class='_25b18c']")
    discount=driver.find_elements(By.XPATH,"//div[@class='_3Ay6Sb']")
    
    for j  in b_name:
        B_name.append(j.text)
    B_name[:100]    
    
    
    
    for k in p_desc:
        P_desc.append(k.text)
    P_desc[:100] 
    
    
    for l in price:
        Price.append(l.text)
    Price[:100] 
    
    
    for t in discount:
        Discount.append(t.text)
    Discount[:100]

In [198]:
print(len(B_name[:100])),print(len(Price[:100])),print(len(P_desc[:100])),print(len(Discount[:100]))

100
100
100
100

(None, None, None, None)

In [199]:
df=pd.DataFrame({
    'Brand_name':B_name[:100],
'P_price':Price[:100],
'Pr_desc': P_desc[:100],
'P_discount' :Discount[:100]
})

In [200]:
df.head()

,Brand_name,P_price,Pr_desc,P_discount
0,New Balance,"₹4,050₹8,99954% off",237 Sneakers For Men,54% off
1,K- FOOTLANCE,₹349₹99965% off,Sneakers For Men,65% off
2,Layasa,₹494₹99950% off,Casual Sneakers White Shoes For Girls And Snea...,50% off
3,Kraasa,₹299₹99970% off,Sneakers For Women,70% off
4,BIRDE,₹499₹99950% off,Combo Pack Of 2 Casual Shoes Sneakers For Men,50% off