In [1]:
#1#Write a python program to display all the header tags from wikipedia.org and make data frame.

In [2]:
#import the necessary modules
import pandas as pd
from bs4 import BeautifulSoup
import requests

In [3]:
url = 'https://en.wikipedia.org/wiki/Main_Page'
response = requests.get(url)


# Parse the HTML content using BeautifulSoup
soup = BeautifulSoup(response.content, 'html.parser')

# Find all the header tags
headers = soup.find_all(['h1', 'h2', 'h3', 'h4', 'h5', 'h6'])

# Create a data frame using pandas
df = pd.DataFrame({'Header': [header.text for header in headers],
                   'Type': [header.name for header in headers]})

# Print the data frame
print(df)

                          Header Type
0                      Main Page   h1
1           Welcome to Wikipedia   h1
2  From today's featured article   h2
3               Did you know ...   h2
4                    In the news   h2
5                    On this day   h2
6       Today's featured picture   h2
7       Other areas of Wikipedia   h2
8    Wikipedia's sister projects   h2
9            Wikipedia languages   h2

In [4]:
#Write a python program to display IMDB’s Top rated 50 movies’ data (i.e. name, rating, year of release) and make data frame

In [91]:
from bs4 import BeautifulSoup
import pandas as pd
import requests

url = 'https://www.imdb.com/chart/top/'
page = requests.get(url)
page
soup = BeautifulSoup(page.content, 'html.parser')
s_movies = soup.find_all('td', class_="titleColumn")

movies = []
for movie in s_movies:
    movie = movie.get_text().replace('\n', '')
    movie = movie.strip('')
    movies.append(movie)
    
s_rating = soup.find_all('td' ,class_="ratingColumn imdbRating")
ratings = []
for rating in s_rating:
    
    rating = rating.get_text().replace('\n', '')
    rating = rating.strip('')
    ratings.append(rating)
s_year = soup.find_all('span' ,class_="secondaryInfo")
years = []

for i in s_year:
    years.append(i.text)

In [92]:
df = pd.DataFrame({
    'movies' : movies,
    'ratings': ratings,
    'years' : years
})
df.head(50)

                                               movies ratings   years
0              1.      The Shawshank Redemption(1994)     9.2  (1994)
1                         2.      The Godfather(1972)     9.2  (1972)
2                       3.      The Dark Knight(2008)     9.0  (2008)
3                 4.      The Godfather Part II(1974)     9.0  (1974)
4                          5.      12 Angry Men(1957)     9.0  (1957)
5                      6.      Schindler's List(1993)     8.9  (1993)
6         7.      The Lord of the Rings: The Retur...     8.9  (2003)
7                          8.      Pulp Fiction(1994)     8.8  (1994)
8         9.      The Lord of the Rings: The Fello...     8.8  (2001)
9         10.      Il buono, il brutto, il cattivo...     8.8  (1966)
10                        11.      Forrest Gump(1994)     8.8  (1994)
11                          12.      Fight Club(1999)     8.7  (1999)
12        13.      The Lord of the Rings: The Two ...     8.7  (2002)
13                           14.      Inception(2010)     8.7  (2010)
14             15.      The Empire Strikes Back(1980)     8.7  (1980)
15                          16.      The Matrix(1999)     8.7  (1999)
16                          17.      GoodFellas(1990)     8.7  (1990)
17        18.      One Flew Over the Cuckoo's Nest...     8.6  (1975)
18                               19.      Se7en(1995)     8.6  (1995)
19               20.      It's a Wonderful Life(1946)     8.6  (1946)
20                21.      Shichinin no samurai(1954)     8.6  (1954)
21            22.      The Silence of the Lambs(1991)     8.6  (1991)
22                 23.      Saving Private Ryan(1998)     8.6  (1998)
23                      24.      Cidade de Deus(2002)     8.6  (2002)
24                        25.      Interstellar(2014)     8.6  (2014)
25                     26.      La vita è bella(1997)     8.6  (1997)
26                      27.      The Green Mile(1999)     8.6  (1999)
27                           28.      Star Wars(1977)     8.5  (1977)
28          29.      Terminator 2: Judgment Day(1991)     8.5  (1991)
29                  30.      Back to the Future(1985)     8.5  (1985)
30        31.      Sen to Chihiro no kamikakushi(2...     8.5  (2001)
31                         32.      The Pianist(2002)     8.5  (2002)
32                              33.      Psycho(1960)     8.5  (1960)
33                        34.      Gisaengchung(2019)     8.5  (2019)
34                                35.      Léon(1994)     8.5  (1994)
35                       36.      The Lion King(1994)     8.5  (1994)
36                           37.      Gladiator(2000)     8.5  (2000)
37                  38.      American History X(1998)     8.5  (1998)
38                        39.      The Departed(2006)     8.5  (2006)
39                            40.      Whiplash(2014)     8.5  (2014)
40                        41.      The Prestige(2006)     8.5  (2006)
41                  42.      The Usual Suspects(1995)     8.5  (1995)
42                          43.      Casablanca(1942)     8.5  (1942)
43                      44.      Hotaru no haka(1988)     8.5  (1988)
44                             45.      Seppuku(1962)     8.5  (1962)
45                    46.      The Intouchables(2011)     8.5  (2011)
46                        47.      Modern Times(1936)     8.4  (1936)
47        48.      Once Upon a Time in the West(1968)     8.4  (1968)
48               49.      Nuovo Cinema Paradiso(1988)     8.4  (1988)
49                         50.      Rear Window(1954)     8.4  (1954)

In [17]:
#Write a python program to display IMDB’s Top rated 50 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [19]:
link = 'https://www.imdb.com/india/top-rated-indian-movies/'
response = requests.get(link)
response
soup = BeautifulSoup(response.content, 'html.parser')
i_movies = soup.find_all('td', class_="titleColumn")
i_movies_name = []
for movies in i_movies:
    movies = movies.get_text().replace('\n', '')
    movies = movies.strip('')
    i_movies_name.append(movies)
    
i_ratings = soup.find_all('td' ,class_="ratingColumn imdbRating")
i_movies_ratings = []
for rating in i_ratings:
    rating = rating.get_text().replace('\n', '')
    i_movies_ratings.append(rating)
scraped_year = soup.find_all('span' ,class_="secondaryInfo")
scraped_year
i_year = soup.find_all('span' ,class_="secondaryInfo")
i_year
i_movies_year = []
for year in i_year:
    i_movies_year.append(year)

In [21]:
data = pd.DataFrame({
    "movies_name" : i_movies_name,
    "movies_rating" : i_movies_ratings,
    "movies_year" : i_movies_year
})
data.head(50)

,movies_name,movies_rating,movies_year
0,1. Ramayana: The Legend of Prince R...,8.6,[(1993)]
1,2. Rocketry: The Nambi Effect(2022),8.4,[(2022)]
2,3. Nayakan(1987),8.4,[(1987)]
3,4. Gol Maal(1979),8.4,[(1979)]
4,5. 777 Charlie(2022),8.4,[(2022)]
5,6. Pariyerum Perumal(2018),8.4,[(2018)]
6,7. Anbe Sivam(2003),8.4,[(2003)]
7,8. Apur Sansar(1959),8.4,[(1959)]
8,9. 3 Idiots(2009),8.4,[(2009)]
9,10. Manichitrathazhu(1993),8.3,[(1993)]
10,11. Jai Bhim(2021),8.3,[(2021)]
11,12. #Home(2021),8.3,[(2021)]
12,13. Soorarai Pottru(2020),8.3,[(2020)]
13,14. Black Friday(2004),8.3,[(2004)]
14,15. Kumbalangi Nights(2019),8.3,[(2019)]
15,16. C/o Kancharapalem(2018),8.3,[(2018)]
16,17. Taare Zameen Par(2007),8.3,[(2007)]
17,18. Kireedam(1989),8.3,[(1989)]
18,19. Dangal(2016),8.3,[(2016)]
19,20. Kaithi(2019),8.3,[(2019)]
20,21. Jersey(2019),8.3,[(2019)]
21,22. 96(2018),8.3,[(2018)]
22,23. Maya Bazaar(1957),8.2,[(1957)]
23,24. Natsamrat(2016),8.2,[(2016)]
24,25. Asuran(2019),8.2,[(2019)]
25,26. Drishyam 2(2021),8.2,[(2021)]
26,27. Sita Ramam(2022),8.2,[(2022)]
27,28. Thevar Magan(1992),8.2,[(1992)]
28,29. Visaaranai(2015),8.2,[(2015)]
29,30. Sarpatta Parambarai(2021),8.2,[(2021)]
30,31. Thalapathi(1991),8.2,[(1991)]
31,32. Nadodikkattu(1987),8.2,[(1987)]
32,33. Pather Panchali(1955),8.2,[(1955)]
33,34. Drishyam(2013),8.2,[(2013)]
34,35. Thani Oruvan(2015),8.2,[(2015)]
35,36. Jaane Bhi Do Yaaro(1983),8.2,[(1983)]
36,37. Vada Chennai(2018),8.2,[(2018)]
37,38. Aparajito(1956),8.2,[(1956)]
38,39. Khosla Ka Ghosla!(2006),8.2,[(2006)]
39,40. Sardar Udham(2021),8.2,[(2021)]
40,41. Anniyan(2005),8.2,[(2005)]
41,42. Ratsasan(2018),8.1,[(2018)]
42,43. Chupke Chupke(1975),8.1,[(1975)]
43,44. Gangs of Wasseypur(2012),8.1,[(2012)]
44,45. Drishyam(2015),8.1,[(2015)]
45,46. Mahanati(2018),8.1,[(2018)]
46,47. Peranbu(2018),8.1,[(2018)]
47,48. Bangalore Days(2014),8.1,[(2014)]
48,49. Premam(2015),8.1,[(2015)]
49,50. Satya(1998),8.1,[(1998)]

In [22]:
#Write s python program to display list of respected former presidents of India

In [23]:
url_link ="https://presidentofindia.nic.in/former-presidents.htm"
response = requests.get(url_link)
response
soup = BeautifulSoup(response.content, 'html.parser')
president_scrape = soup.find_all('div', class_="presidentListing")
farmer_president = []
for names in president_scrape:
    names = names.get_text().replace('\n', '')
    names = names.strip('')
    names = names.split('(')[0]
    farmer_president.append(names)
terms = soup.find_all('span', class_="terms")  
term_of_office = []
for names in president_scrape:
    too = names.get_text().replace('\n','')
    too = too.split(':')[1]  
    too = too.replace('https','')
    too = too.replace('http','')
    term_of_office.append(too)

In [24]:
df = pd.DataFrame()
df['Name'] = farmer_president
df['Term of Office'] = term_of_office
df

,Name,Term of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

In [25]:
#Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

In [26]:
#a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [27]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

url = 'https://www.icc-cricket.com/rankings/mens/team-rankings/odi'

response = requests.get(url)
html_content = response.content

soup = BeautifulSoup(html_content, 'html.parser')

table = soup.find('table', {'class': 'table'})

rows = table.findAll('tr')[1:]

rank = []
team = []
matches =[]
points = []
rating = []
for row in rows[:10]:
    cells = row.findAll('td')
    rank.append(cells[0].text.strip())
    team.append(cells[1].text.strip())
    matches.append(cells[2].text.strip())
    points.append(cells[3].text.strip())
    rating.append(cells[4].text.strip())
    
df = pd.DataFrame(columns=['Rank','Team','matches','points','rating'])

df['Rank'] = rank
df['Team'] = team
df['matches'] = matches
df['points'] = points
df['ratings'] = rating


df

  Rank              Team matches points rating ratings
0    1    Australia\nAUS      35  3,965    NaN     113
1    2   New Zealand\nNZ      31  3,504    NaN     113
2    3        India\nIND      47  5,294    NaN     113
3    4      England\nENG      36  3,988    NaN     111
4    5     Pakistan\nPAK      25  2,649    NaN     106
5    6  South Africa\nSA      31  3,141    NaN     101
6    7   Bangladesh\nBAN      38  3,625    NaN      95
7    8     Sri Lanka\nSL      36  3,099    NaN      86
8    9   West Indies\nWI      43  3,105    NaN      72
9   10  Afghanistan\nAFG      20  1,419    NaN      71

In [28]:
#b) Top 10 ODI Batsmen along with the records of their team andrating.

In [29]:

import requests
from bs4 import BeautifulSoup

url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting'

response = requests.get(url)
html_content = response.content

soup = BeautifulSoup(html_content, 'html.parser')

table = soup.find('table', {'class': 'table rankings-table'})

rows = table.findAll('tr')[1:]

batsman = []
team = []
rating = []
for row in rows[:10]:
    cells = row.findAll('td')

    
    batsman.append(cells[1].text.strip())
    team.append(cells[2].text.strip())
    rating.append(cells[3].text.strip())
    
    
df = pd.DataFrame(columns=['Batsman','Team','rating'])

df['Batsman'] = batsman
df['Team'] = team
df['Ratings'] = rating

df

                 Batsman Team rating Ratings
0             Babar Azam  PAK    NaN     887
1  Rassie van der Dussen   SA    NaN     777
2            Imam-ul-Haq  PAK    NaN     740
3           Shubman Gill  IND    NaN     738
4           David Warner  AUS    NaN     726
5            Virat Kohli  IND    NaN     719
6        Quinton de Kock   SA    NaN     718
7           Rohit Sharma  IND    NaN     707
8            Steve Smith  AUS    NaN     702
9           Fakhar Zaman  PAK    NaN     699

In [30]:
#c) Top 10 ODI bowlers along with the records of their team andrating.

In [31]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling'

response = requests.get(url)
html_content = response.content

soup = BeautifulSoup(html_content, 'html.parser')

table = soup.find('table', {'class': 'table rankings-table'})

rows = table.findAll('tr')[1:]

Player = []
team = []
rating = []
for row in rows[:10]:
    cells = row.findAll('td')

    
    Player.append(cells[1].text.strip())
    team.append(cells[2].text.strip())
    rating.append(cells[3].text.strip())
    
    
df = pd.DataFrame(columns=['Player','Team','rating'])

df['Player'] = Player
df['Team'] = team
df['Ratings'] = rating

df

             Player Team rating Ratings
0    Josh Hazlewood  AUS    NaN     705
1       Trent Boult   NZ    NaN     694
2    Mohammed Siraj  IND    NaN     691
3    Mitchell Starc  AUS    NaN     686
4        Matt Henry   NZ    NaN     676
5       Rashid Khan  AFG    NaN     659
6        Adam Zampa  AUS    NaN     652
7    Shaheen Afridi  PAK    NaN     641
8  Mujeeb Ur Rahman  AFG    NaN     637
9   Shakib Al Hasan  BAN    NaN     636

In [33]:
#6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape and make data frame

In [32]:
#a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [34]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.icc-cricket.com/rankings/womens/team-rankings/odi'

response = requests.get(url)
html_content = response.content

soup = BeautifulSoup(html_content, 'html.parser')
soup = BeautifulSoup(html_content, 'html.parser')

table = soup.find('table', {'class': 'table'})

rows = table.findAll('tr')[1:]

rank = []
team = []
matches =[]
points = []
rating = []
for row in rows[:10]:
    cells = row.findAll('td')
    rank.append(cells[0].text.strip())
    team.append(cells[1].text.strip())
    matches.append(cells[2].text.strip())
    points.append(cells[3].text.strip())
    rating.append(cells[4].text.strip())
    
df = pd.DataFrame(columns=['Rank','Team','matches','points','rating'])

df['Rank'] = rank
df['Team'] = team
df['matches'] = matches
df['points'] = points
df['ratings'] = rating


df
df = df.drop('rating', axis = 1)
df.head(10)

  Rank              Team matches points ratings
0    1    Australia\nAUS      21  3,603     172
1    2      England\nENG      28  3,342     119
2    3  South Africa\nSA      26  3,098     119
3    4        India\nIND      27  2,820     104
4    5   New Zealand\nNZ      25  2,553     102
5    6   West Indies\nWI      27  2,535      94
6    7   Bangladesh\nBAN      13    983      76
7    8     Thailand\nTHA      11    821      75
8    9     Pakistan\nPAK      27  1,678      62
9   10     Sri Lanka\nSL       8    353      44

In [35]:
#b) Top 10 women’s ODI Batting players along with the records of their team and rating.

In [36]:

import requests
from bs4 import BeautifulSoup

url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting'

response = requests.get(url)
html_content = response.content

soup = BeautifulSoup(html_content, 'html.parser')

table = soup.find('table', {'class': 'table rankings-table'})

rows = table.findAll('tr')[1:]

batsman = []
team = []
rating = []
for row in rows[:10]:
    cells = row.findAll('td')

    
    batsman.append(cells[1].text.strip())
    team.append(cells[2].text.strip())
    rating.append(cells[3].text.strip())
    
    
df = pd.DataFrame(columns=['Batsman','Team','rating'])

df['Batsman'] = batsman
df['Team'] = team
df['Ratings'] = rating

df = df.drop('rating', axis = 1)
df.head(10)

               Batsman Team Ratings
0         Alyssa Healy  AUS     762
1          Beth Mooney  AUS     754
2      Laura Wolvaardt   SA     732
3       Natalie Sciver  ENG     731
4          Meg Lanning  AUS     717
5     Harmanpreet Kaur  IND     716
6      Smriti Mandhana  IND     714
7  Chamari Athapaththu   SL     655
8    Amy Satterthwaite   NZ     641
9         Ellyse Perry  AUS     626

In [37]:
#c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [38]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.icc-cricket.com/rankings/womens/player-rankings/odi/bowling'

response = requests.get(url)
html_content = response.content

soup = BeautifulSoup(html_content, 'html.parser')

table = soup.find('table', {'class': 'table rankings-table'})

rows = table.findAll('tr')[1:]

Player = []
team = []
rating = []
for row in rows[:10]:
    cells = row.findAll('td')

    
    Player.append(cells[1].text.strip())
    team.append(cells[2].text.strip())
    rating.append(cells[3].text.strip())
    
    
df = pd.DataFrame(columns=['Player','Team','rating'])

df['Player'] = Player
df['Team'] = team
df['Ratings'] = rating

df

                Player Team rating Ratings
0    Sophie Ecclestone  ENG    NaN     751
1        Jess Jonassen  AUS    NaN     723
2       Shabnim Ismail   SA    NaN     722
3         Megan Schutt  AUS    NaN     704
4      Hayley Matthews   WI    NaN     660
5           Kate Cross  ENG    NaN     655
6       Ayabonga Khaka   SA    NaN     634
7  Rajeshwari Gayakwad  IND    NaN     617
8       Marizanne Kapp   SA    NaN     598
9        Deepti Sharma  IND    NaN     589

In [39]:
#Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame

In [40]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.cnbc.com/world/?region=world'

response = requests.get(url)
html_content = response.content

soup = BeautifulSoup(html_content, 'html.parser')
# Find all the header tags
headers = soup.find_all(['h1', 'h2', 'h3', 'h4', 'h5', 'h6'])

# Create a data frame using pandas
df = pd.DataFrame({'Header': [header.text for header in headers],
                   'Type': [header.name for header in headers]})

# Print the data frame
print(df)

                                               Header Type
0   Big banks including JPMorgan Chase, Bank of Am...   h2
1                                         Latest News   h2
2                                        QUOTE FINDER   h2
3                                             Markets   h2
4                                       Market MOVERS   h3
5                                         Most Active   h3
6                                      Unusual Volume   h3
7                                  Latest Market News   h3
8                                     Special Reports   h3
9                                        Trending Now   h2
10                              Pro News and Analysis   h2
11                                            Ukraine   h2
12                                 Sustainable Future   h2
13                                        Coronavirus   h2
14                                        CNBC Travel   h2
15                                            Make It   h2
16                                          News Tips   h4
17                                  Advertise With Us   h4
18                                   CNBC Newsletters   h4

In [41]:
#Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world and make data frame

In [44]:
import requests
from bs4 import BeautifulSoup

url = 'https://www.cnbc.com/world/?region=world'

response = requests.get(url)
html_content = response.content

soup = BeautifulSoup(html_content, 'html.parser')
headlines = []
for i in soup.find_all('a', class_="LatestNews-headline"):
    headlines.append(i.text)
    
time = []
for i in soup.find_all('time', class_="LatestNews-timestamp"):
    time.append(i.text)
    
links = []
for link in soup.find_all('a', class_="LatestNews-headline", href=True):
    
    links.append(link['href'])

In [45]:
df = pd.DataFrame({
    
    'headlines' : headlines,
    'news-time' : time,
    'links' : links
})
df

,headlines,news-time,links
0,SpaceX to spend $2 billion on Starship this ye...,44 Min Ago,https://www.cnbc.com/2023/04/29/elon-musk-spac...
1,Jack Dorsey criticizes Elon Musk’s leadership ...,5 Hours Ago,https://www.cnbc.com/2023/04/29/jack-dorsey-cr...
2,"Banks including JPMorgan Chase, Bank of Americ...",9 Hours Ago,https://www.cnbc.com/2023/04/29/first-republic...
3,How to raise a kids with a ‘secure’ attachment...,10 Hours Ago,https://www.cnbc.com/2023/04/29/how-to-raise-a...
4,The business case for green sports stadiums an...,11 Hours Ago,https://www.cnbc.com/2023/04/29/the-business-c...
5,A solid start to earnings season will be put t...,12 Hours Ago,https://www.cnbc.com/2023/04/29/decent-start-t...
6,TikTokers are using beef tallow to treat acne:...,12 Hours Ago,https://www.cnbc.com/2023/04/29/tiktokers-are-...
7,This 28-year-old pays $62 a month to live in a...,12 Hours Ago,https://www.cnbc.com/2023/04/29/28-year-old-pa...
8,"As part of the ‘cocktail culture,' consumers ...",13 Hours Ago,https://www.cnbc.com/2023/04/29/cocktail-cultu...
9,Why GM is killing the Chevy Bolt — America's c...,13 Hours Ago,https://www.cnbc.com/2023/04/29/why-gm-is-kill...
10,Just a few stocks are behind the market's resi...,13 Hours Ago,https://www.cnbc.com/2023/04/29/just-a-few-sto...
11,Google Cloud's Kurian on road to profit: 'We w...,13 Hours Ago,https://www.cnbc.com/2023/04/29/google-cloud-b...
12,Olipop nears $200 million in annual sales—and ...,13 Hours Ago,https://www.cnbc.com/2023/04/29/olipop-nears-2...
13,This 25-year-old makes $200/hour without a bac...,13 Hours Ago,https://www.cnbc.com/2023/04/29/25-year-old-no...
14,The most overbought and oversold S&P 500 stock...,14 Hours Ago,https://www.cnbc.com/2023/04/29/herea-re-the-m...
15,Mark Cuban says paying Twitter for a blue chec...,14 Hours Ago,https://www.cnbc.com/2023/04/29/mark-cuban-pay...
16,Goldman Sachs says these are its top picks com...,14 Hours Ago,https://www.cnbc.com/2023/04/29/goldman-sachs-...
17,What’s next for SpaceX’s Starship after a dram...,14 Hours Ago,https://www.cnbc.com/2023/04/29/spacex-starshi...
18,Jim Cramer: Consumer goods stocks are set to k...,"April 28, 2023",https://www.cnbc.com/2023/04/28/jim-cramer-con...
19,Amazon drops on slowing cloud growth. Here's h...,"April 28, 2023",https://www.cnbc.com/2023/04/28/amazon-falls-o...
20,Why bitcoin keeps wavering between a store of ...,"April 28, 2023",https://www.cnbc.com/2023/04/28/why-bitcoin-ke...
21,California bans the sale of new diesel trucks ...,"April 28, 2023",https://www.cnbc.com/2023/04/28/california-ban...
22,Markets next week have to contend with how agg...,"April 28, 2023",https://www.cnbc.com/2023/04/28/markets-next-w...
23,Here’s how one investor is finding opportuniti...,"April 28, 2023",https://www.cnbc.com/2023/04/28/one-investor-i...
24,These stocks reporting next week have a histor...,"April 28, 2023",https://www.cnbc.com/2023/04/28/these-stocks-r...
25,How A.I. could change the future of work,"April 28, 2023",https://www.cnbc.com/2023/04/28/how-ai-could-c...
26,Carl Icahn calls Illumina Q1 results disappoin...,"April 28, 2023",https://www.cnbc.com/2023/04/28/carl-icahn-sla...
27,31% of new crypto buyers influenced by friends...,"April 28, 2023",https://www.cnbc.com/2023/04/28/many-new-bitco...
28,Series I bond rates fall to 4.3% amid cooling ...,"April 28, 2023",https://www.cnbc.com/2023/04/28/series-i-bond-...
29,"House votes to restore solar panel tariffs, Bi...","April 28, 2023",https://www.cnbc.com/2023/04/28/house-votes-to...

In [46]:
#8) Write a python program to scrape the details of most downloaded articles from AI in last 90 days

In [48]:
url = 'https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles'
page = requests.get(url)
page
soup = BeautifulSoup(page.content, 'html.parser')

page_title = []
authors = []
published_date = []
paper_url = []

for i in soup.find_all('a', class_="sc-5smygv-0 fIXTHm"):
    page_title.append(i.text)
for i in soup.find_all('span', class_="sc-1w3fpd7-0 dnCnAO"):
    authors.append(i.text)
    
for i in soup.find_all('span',class_="sc-1thf9ly-2 dvggWt"):
    published_date.append(i.text)
    
for i in soup.find_all('a', class_="sc-5smygv-0 fIXTHm", href=True):
    paper_url.append(i.get('href'))

In [49]:
df = pd.DataFrame({
    "page_title": page_title,
    "authors" : authors,
    "published_date": published_date,
    "paper_url": paper_url
})
df

,page_title,authors,published_date,paper_url
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

In [50]:
#9) Write a python program to scrape mentioned details from dineout.co.in and make data frame

In [54]:
url = 'https://www.dineout.co.in/delhi-restaurants/buffet-special'
page = requests.get(url)
page
soup = BeautifulSoup(page.content, 'html.parser')

name = []
for i in soup.find_all('a', class_="restnt-name ellipsis"):
    name.append(i.text)

location = []
for i in soup.find_all('div' ,class_="restnt-loc ellipsis"):
    location.append(i.text)

rating = []
for i in soup.find_all('div' ,class_="restnt-rating rating-4"):
    rating.append(i.text)

img = []
for i in soup.find_all('img' ,class_="no-img"):
    img.append(i.get('data-src'))

In [55]:
df = pd.DataFrame(columns = ['name', 'rating', 'location', 'img']
                 )
df['name'] = name
df['rating'] = rating
df['location'] = location
df['img'] = img

df

,name,rating,location,img
0,Castle Barbeque,4,"Connaught Place, Central Delhi",https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,3.9,"3CS Mall,Lajpat Nagar - 3, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
2,Cafe Knosh,4.3,"The Leela Ambience Convention Hotel,Shahdara, ...",https://im1.dineout.co.in/images/uploads/resta...
3,Castle Barbeque,3.9,"Pacific Mall,Tagore Garden, West Delhi",https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,3.9,"Gardens Galleria,Sector 38A, Noida",https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,3.9,"Hilton Garden Inn,Saket, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,3.7,"Taurus Sarovar Portico,Mahipalpur, South Delhi",https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,3.8,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",https://im1.dineout.co.in/images/uploads/resta...
8,Indian Grill Room,4.3,"Suncity Business Tower,Golf Course Road, Gurgaon",https://im1.dineout.co.in/images/uploads/resta...